
{% extends "nav1.html" %} 

{% load static %}
{% block style %}
     <style>  
<style>
 body {
           background-image: url("{% static 'assets/img/wed.jpg' %} "); 
           background-size: cover;
           background-repeat: no-repeat;
           justify-content:center;
           align-items:center;
        }
         h2 {
            text-align: center;
            color: #OOO;
            margin:bottom:30px;
            margin-top:102px;
        }

        form {
max-width: 500px;
margin: 0 auto; /* Center-align the form horizontally */
padding: 52px;
background-color: rgba(255, 255, 255, 0.5);
box-shadow: 0px 0px 10px rgba(0, 0, 0, 7.2);
border-radius: 119px;
text-align: center;
opacity: 1.9; /* This value should be between 0 and 1, not 1.9 */

button {
            background-color: #0074e4;
            color: #fff;
            border: none;
            border-radius: 20px;
            padding: 15px 20px;
            cursor: pointer;
        }
</style>
{% endblock style %}

{% block body  %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
</head>
<body>
    <h2>Set New Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Set New Password</button>
    </form>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
{% endblock body  %}