<!-- confirmed_gold_bookings.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Confirmed platinum Bookings</title>
</head>
<body>
    <h1>Confirmed platinum Bookings</h1>
     {% for message in messages %}  
 <div class="alert alert-{{ message.tags}} alert-dismissible fade show" role="alert">
  <strong>Message:</strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <table border=2>
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th>Date of Booking</th>
                <th>Destination Selected</th>
                <th>Action</th>  <!-- New column for the "Apply" button -->
                <!-- Add more fields as needed -->
            </tr>
        </thead>
        <tbody>
            {% for booking in confirmed_bookings %}
                <tr>
                    <td>{{ booking.user.username }}</td>
                    <td>{{ booking.user.email }}</td>
                    <td>{{ booking.date_of_booking }}</td>
                    <td>{{ booking.destination_selected }}</td>
                    <td>
                
                        <form action="{% url 'apply_bookings_platinum' booking.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Apply</button>
                        </form>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
