{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HAPPY WEDDING</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
    {% comment %} <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
       {% endcomment %}
      <a href="" class="logo"><img src="{% static 'assets/img/logo.png'%}" alt="" class="img-fluid"></a>
      <h1 class="logo"><a href="">{{index_happy}}</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">{{index_HOME}}</a></li>
          <li><a class="nav-link scrollto" href="#about">{{index_ABOUT}}</a></li>
          <li><a class="nav-link scrollto" href="#services">{{index_DEST}}</a></li>
          <li><a class="nav-link scrollto" href="#pricing">{{index_PRICE}}</a></li>
          <li><a class="nav-link scrollto" href="{% url candyLink.signup %}">{{index_SIGN}}</a></li>
          <li><a class="nav-link scrollto " href="vendorsignup/">{{index_HEY}}</a></li>
          <li><a class="nav-link scrollto " href="#team">{{index_TEA}}</a></li>
          <li><a class="nav-link scrollto" href="{% url candyLink.login %}">{{index_LOG}}</a></li>
          <li><a class="nav-link scrollto" href="#contact">{{index_CONT}}</a></li>
          <li>{{languageMenu|safe}}</li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>{{index_WEL}}</h1>
      <h2>{{index_DESC}}</h2>
      <a href="#about" class="btn-get-started scrollto">{{index_START}}</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    
    <section id="about" class="about">
      <div class="container">
          <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-471dc193-35a7-484b-9505-5228d3379648" data-elfsight-app-lazy></div>
        <div class="row">
          <div class="col-lg-5 order-1 order-lg-2" data-aos="fade-right">
            <img src="{% static 'assets/img/first.jpg' %}" class="img-fluid" alt="" width="500" height="700">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <p>
                {{index_Aboutsite}}</p>
                <h2>{{index_hawed}}</h2>

                <p>{{index_decision}}
            </p>
            <h2>{{index_ques}}</h2>

            <p>{{index_detail}}
        </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <!--<span>S</span> -->
          <h2>{{index_Destinations}}</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">{{index_delhi}}</a></h4>
              <p>{{index_delhidesc}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">{{index_rajasthan}}</a></h4>
              <p>{{index_rajdesc}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">{{index_kerala}}</a></h4>
              <p>{{index_keraladesc}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">{{index_swiz}}</a></h4>
              <p>{{index_swizdesc}} </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">{{index_luxe}}</a></h4>
              <p>{{index_luxedesc}}</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">{{index_paris}}</a></h4>
              <p>{{index_parisdesc}} </p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Services Section -->
    

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>{{index_price1}}</span>
          <h2>{{index_price2}}</h2>
          <p>{{index_desired}}</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h4>{{index_customise}}</h4>
              <h3><sup>$</sup>3500-<sup>$</sup>100000</h3>
              <ul>
                <li>{{index_customise1}}</li>
                <li>{{index_needs}}</li>
                <li>{{index_addson}}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'login' %}" class="btn-buy">{{index_Customise2}}</a>
              </div>
            </div>
          </div>
 <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h4>{{index_GOLD}}</h4>
              <h3><sup>$</sup>45000<span></span></h3>
              <ul>
                <li>{{index_cusine}}</li>
                <li>{{index_indian}}</li>
                <li>{{index_MUSIC}}</li>
                 <li>{{index_PHOTOGRAPHY}}</li>
                 <li>{{index_ACCODOMATIONS}}</li>
                <li>{{index_DECORATORATION1}}</li>
                <li>{{index_guest}}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'login' %}" class="btn-buy">{{index_buynow}}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
            <div class="box featured">
              <h4>{{index_SILVER}}</h4>
              <h3><sup>$</sup>55000<span></span></h3>
              <ul>
                <li>{{index_cont}}</li>
                <li>{{index_honey}}</li>
                <li>{{index_facility}}</li>
                <li>{{index_class}}</li>
                <li>{{index_dj}}</li>
                <li>{{index_after}}</li>
                 <li>{{index_PHOTO}}</li>
                <li>{{index_DECORATORATION2}}</li>
                <li>{{index_guests1}}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'login' %}" class="btn-buy">{{index_buynow}}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h4>{{index_PLATINUM}}</h4>
              <h3><sup>$</sup>60000<span></span></h3>
              <ul>
                <li>{{index_withb}}</li>
                <li>{{index_honeyp}}</li>
                <li>{{index_facilitybus}}</li>
                <li>{{index_class}}</li>
                <li>{{index_djnight}}</li>
                <li>{{index_projection}}</li>
                 <li>{{index_photography}}</li>
                <li>{{index_decorator}}</li>
                <li>{{index_GUESTS}}</li>
              </ul>
              <div class="btn-wrap">
                <a href="{% url 'login' %}" class="btn-buy">{{index_buynow}}</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>{{index_Team2}}</span>
          <h2>{{index_Team2}}</h2>
          <p>{{index_your}}</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="">
              <h4>{{index_king}}</h4>
              <span>{{index_chief}}</span>
              <p>
                {{index_our}}
              </p>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-2.jpg' %}" alt="">
              <h4>{{index_patel}}</h4>
              <span>{{index_productmanager}}</span>
              <p>{{index_unforgettable}}
              </p>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="{% static 'assets/img/team/team-3.jpg' %}" alt="">
              <h4>{{index_lucy}}</h4>
              <span>{{index_CTO}}</span>
              <p>
                {{index_memories}}
              </p>
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>{{index_Contact2}}</span>
          <h2>{{index_Contact2}}</h2>
          <p>{{index_whene}}</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>{{index_ouraddress}}</h3>
              <p>{{index_address}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>{{index_emailus}}</h3>
              <p>{{index_com}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>{{index_callus}}</h3>
              <p>+91 9300144182</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          
              

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Happy Wedding</h3>
              <p>
                A108 Adam Street <br>
                535022, INDIA<br><br>
                <strong>Phone:</strong>+91 9300144182<br>
                <strong>Email:</strong>happywedding@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://www.facebook.com/arjun.nair.5872682/" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/the_argon_/?hl=en" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/in/arjun-a-nair-68a013254/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          

    <div class="container">
      <div class="copyright">
        &copy; {{index_Copyright}} <strong><span>Happy Wedding</span></strong>. {{index_all}}
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
        {{index_by}} <a href="https://bootstrapmade.com/">Happy Wedding</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  
  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>